.wrapper {
  box-shadow: var(--box-shadow-1);
  padding: 1rem 0rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.homeTab {
  transform: scale(1.25);
}

.menuItem {
  margin-right: 16px;
  cursor: pointer;
  padding: 4px 0px;
}

.activeTab {
  /* border-bottom: 2px solid var(--purple-2); */
  transform: scale(1.25);
}
