.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  flex-direction: column;
  font-size: 18px;
  flex: 1 1 auto;
}

.introItem {
  display: flex;
}

.exampleWrapper {
  font-size: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  margin: 24px 0px;
}

.exampleImage {
  height: auto;
  width: 80%;
  margin-top: 24px;
}
