.resultItem {
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  align-items: center;
}

.resultItemLeft {
  max-width: 70%;
}

.regex {
  font-size: 12px;
  color: gray;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copyToClipboard {
  cursor: pointer;
}

.resultItem:hover {
  background-color: aliceblue;
}
