.wrapper {
  display: flex;
}

.leftContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rightContent {
  width: 280px;
}

@media only screen and (max-width: 1024px) {
  .rightContent {
    display: none;
  }
}
