.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
  margin-top: 28px;
  font-size: 18px;
}

.example {
  border-radius: 10px;
  border: 1px solid black;
  font-style: italic;
  font-size: 16px;
  width: max-content;
  padding: 12px 24px;
  margin: 12px 0px;
}

.match {
  color: blue;
}

.emphasis {
  border: 1px solid black;
  padding: 0px 4px 0px 2px;
  font-style: italic;
  border-radius: 3px;
}
