.wrapper {
  min-height: 99vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.innerContent {
  display: flex;
  width: 700px;
  height: 100%;
  flex: 1 1 0;
  flex-direction: column;
}

.heading {
  font-size: 48px;
  margin-top: 24px;
}

.headingWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 20%;
}

.lessonWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.lessonHeading {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 12px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lessonContent {
  display: flex;
  flex: 1 1 auto;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
