.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.innerContent {
  display: flex;
  height: 100vh;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: space-between;
}

.headingWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.headingInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 48px;
  margin-top: 24px;
}

.button {
  width: 20%;
}

.lessonWrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: scroll;
  margin-bottom: 12px;
}

.lessonHeading {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 24px;
  margin-top: 12px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
}

.lessonContent {
  display: flex;
  flex: 1 1 auto;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
