.wrapper {
  min-height: 99vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topSection {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 64px;
  font-weight: 600;
  margin-top: -130px;
  position: relative;
}

.subHeading {
  font-size: 20px;
  margin-bottom: 24px;
}

.btnWrapper {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.button {
  width: 45%;
}

.lottie {
  position: absolute;
  top: 0;
  transform: translateY(-70%);
}
