@import url("./typography/typography.css");

.max-width {
  max-width: 60%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.valign {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .max-width {
    max-width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  .max-width {
    max-width: 100%;
    margin: auto;
  }
}
