:root {
  --purple-0-5: #f4effd;
  --purple-1: #e9dffc;
  --purple-1-5: #decffa;
  --purple-2: #d3bff9;
  --purple-4: #a87ff3;
  --purple-6: #784dc7;
  --box-shadow-1: 0px 2px 4px rgba(151, 71, 255, 0.08);
  --box-shodow-2: 0px 4px 8px rgba(151, 71, 255, 0.08);
  --box-shadow-3: 0px 4px 8px rgba(151, 71, 255, 0.08);
}
